{% extends "base.html" %}
{% block content %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
    <form method="post" action="account_update_view">
        {% csrf_token %}
        <h1>Account Page</h1>
        <h1>Username: {{ username }}</h1>
        <input type="hidden" name="username" value="">
        <h1>Customer Name: {{ first_name }} {{ last_name }}</h1>
        <input type="hidden" name="first_name" value="">
        <input type="hidden" name="last_name" value="">
        <h1>Email Address: {{ email }}</h1>
        <input type="hidden" name="email" value="">
        <input type="hidden" name="user_id" value="{{user_id}}">
        <h3>Need to update your account information?</h3>
        <button type=submit>Update Here</button>
    </form>
    <form action="{% url 'account_bookings'%}">
        <button type="submit">Reservations</button>
        <input type="hidden" name="username" value="">
        <input type="hidden" name="first_name" value="">
        <input type="hidden" name="last_name" value="">
        <input type="hidden" name="email" value="">
        <input type="hidden" name="user_id" value="{{user_id}}">
    </form>
    Don't forget to tell others about your time with us!
    Review Here! 
    <a href="www.facebook.com" target="_blank" aria-label="Opens link to Facebook.com in another window">Facebook</a>
    <a href="www.tripadvisor.com" target="_blank" aria-label="Opens link to Tripadvisor.com in another window">TripAdvisor</a>
    <a href="www.yelp.com" target="_blank" aria-label="Opens link to Yelp.com in another window">Yelp</a>
    <a href="www.google.com" target="_blank" aria-label="Opens link to Google.com in another window">Google</a>

{% endblock %}