{% extends "base.html" %}
{% block content %}
    <h1>Account Page</h1>
    <h1>{{ username }}</h1>
    <h1>{{ first_name }}</h1>
    <h1>{{ last_name }}</h1>
    <h1>{{ user_id }}</h1>
    <h1>{{ reservations }}</h1>
    <h1>{{ current_date }}</h1>
    {% if current_date > reservations|first %}
        <h2>Past</h2>
    {% else %}
        <h2>Future</h2>
    {% endif %}
    <!-- <h1>{{entries}}</h1>
    <h1>{{ current_datetime }}</h1>
    {% for entry in entries%}
        {% if entry > current_datetime %}
            {% for reservation in reservation %}
                <h1>{{ reservation}}: Future</h1>
            {% endfor %}
        {% else %}
            {% for reservation in reservations %}
                <h1>{{ reservation }}</h1>
            {% endfor %}
        {% endif %}
    {% endfor %} -->
    <a href="{% url 'account_bookings' %}">Reservations</a>
{% endblock %}