{% extends "base.html" %}
{% block content %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<section id="get-started" class="get-started section-bg">
    <div class="container">

      <div class="row justify-content-between gy-4">

        <div class="col-lg-6 d-flex align-items-center" data-aos="fade-up">
          <div class="content">
            <h3>Minus hic non reiciendis ea possimus at quia.</h3>
            <p>Rem id rerum. Debitis deserunt quidem delectus expedita ducimus dolor. Aut iusto ipsa. Eos ipsum nobis ipsa soluta itaque perspiciatis fuga ipsum perspiciatis. Eum amet fugiat totam nisi possimus ut delectus dicta.
            <p>Aliquam velit deserunt autem. Inventore et saepe. Tenetur suscipit eligendi labore culpa eos. Deserunt porro magni qui necessitatibus dolorem at animi cupiditate.</p>
          </div>
        </div>

        <div class="col-lg-5" data-aos="fade">
          <form action="{% url 'contact_us_post' %}" method="post">
            {% csrf_token %}
            <h3>Get a quote</h3>
            <p>Vel nobis odio laboriosam et hic voluptatem. Inventore vitae totam. Rerum repellendus enim linead sero park flows.</p>
            <div class="row gy-3">
                <div class="col-md-12">
                   <div class="form-control">{{ form.inquiry_name }}</div>
                </div>

                <div class="col-md-12 ">
                  <div class="form-control">{{ form.inquiry_email }}</div>
                </div>

                <div class="col-md-12">
                  <div class="form-control">{{ form.phone_number }}</div>
                </div>

                <div class="col-md-12">
                  <div class="form-control">{{ form.inquiry_message }}</div>
                </div>
                <button type="submit">Contact Us!</button>
              </div>

            </div>
          </form>
        </div><!-- End Quote Form -->

      </div>

    </div>
  </section><!-- End Get Started Section -->
{% endblock %}