{% extends "base.html" %}
{% block content %}

{{ selection }}
<div class="d-flex flex-row">
    {% for result in results %}
        <div class="flex-grow-1">
                <table>
                    <thead>
                        {% for key, values in result.items %}
                            <tr>
                                <th>{{key}}</th>
                            </tr>
                    </thead>
                    <tbody>
                        {% for value in values %}
                            <tr>
                                <td id="iterate-{{ forloop.counter }}">
                                  <form method="POST" action="{% url 'reservation' %}" class="me-2 ms-2" required>
                                    <button type="submit" id="button{{ forloop.counter }}" class="btn btn-primary text-white">{{ value }}</button>
                                  </form>
                                </td>
                            </tr>
                        {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    {% endfor %} 
</div>

  <script>
    // Get all list items using a CSS selector
    var items = document.querySelectorAll("button");
  
    // Loop through each list item
    items.forEach(function(value) {
      // Check if the inner HTML of the item is "501"
      if (value.innerHTML === "501") {
        // If it is, change the inner HTML to "888"
        value.innerHTML = "Available";
      } else if (value.innerHTML === "45") {
        value.innerHTML = "Unavailable"
        value.disabled = true
      }
    });
    $(document).ready(function() {
        $('#myButton').click(function() {
          $.ajax({
            url: '{% url "my_view" %}',
            dataType: 'json',
            success: function(data) {
              console.log(data.key, data.value);
              // Do something with the key-value pair
            }
          });
        });
      });


  </script>  
{% endblock %}