{% extends "base.html" %}
{% block content %}

<div class="d-flex flex-row">
    {% for result in results %}
        <div class="flex-grow-1">
                <table>
                    <thead>
                        {% for key, values in result.items %}
                            <tr>
                                <th>{{key}}</th>
                            </tr>
                    </thead>
                    <tbody>
                        {% for value in values %}
                            <tr>
                                <td id="iterate-{{ forloop.counter }}">{{ value }}</td>
                            </tr>
                        {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    {% endfor %} 
</div>

  <script>
    // Get all list items using a CSS selector
    var items = document.querySelectorAll("td");
  
    // Loop through each list item
    items.forEach(function(value) {
      // Check if the inner HTML of the item is "501"
      if (value.innerHTML === "501") {
        // If it is, change the inner HTML to "888"
        value.innerHTML = "Available";
      } else if (value.innerHTML === "45") {
        value.innerHTML = "Unavailable"
      }
    });
  </script>  
{% endblock %}